<%- include("/home/hannanur117/node-project/create_post/views/partials/header.ejs") %>
<div>
<div class="post-container">
    <h2>Write any article</h2>
    <% if(posts.length > 0){%>
        <%posts.forEach((post,index)=> { %>
            <div class="post">
                <a href="/edit/<%= index %>" class="edit-link">Edit</a>
                <a href="/delete/<%=index%>" class="delete">Delete</a> 
            </div>
            <div class="post">
               <h3><%= post.title %></h3>
               <p><%= post.body %></p>
            </div>
         <%}) %> 
      <% }else {%>
        <p>No post yet</p>
        <% } %>


   
   <form action="/create" method="GET">
    <button style="background-color: rgb(62, 143, 224); color: white; padding: 5px 10px;" type="submit">Create</button>
   </form> 
</div>

<%- include("/home/hannanur117/node-project/create_post/views/partials/footer.ejs") %>
